.main-container {
  width: 100%;
  text-align: center;
}

.button-container {
  display: inline-block;
}

.main-button {
   border-radius: 11px;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-left: 1.5rem;
   transition: all 0.3s ease 0s;
}


#agree-button {
  background-color: #007D2B;
}

#agree-button:hover {
  background-color: #00C946;

}


#cancel-button {
  background-color: #C90700;
}

#cancel-button:hover {
  background-color: #FF092D;


}

#bottom-popup {
   transition: all 8s linear;

  width: 20rem;
  height: 5rem;
  border: 5px solid black;
  border-bottom: none;
  position: absolute;
  bottom: 0rem;
  border-radius: 5px;
  padding: .25rem;
  right:-500px;

}

.movement {
 animation: move 3s ease 1;
}

@keyframes move {

  0% {
     right: 5px;
  }
}

#top-popup {
  width: 20rem;
  height: 5rem;
  border: 5px solid black;
  border-top: none;
  position: absolute;
  right: 1rem;
  top: 0rem;
  border-radius: 5px;
  padding: .25rem;
}

.top-text-container {
  text-align: center;
}

.come-back-soon {
  display: inline-block;

}

.newClass {
  transition: all 8s linear;
  left: 72%;
  animation: moveIn 3s ease 1;

}

@keyframes moveIn {

  0% {
     left: 1400px;
  }
}
